body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

.home-page{
    background-image: url("../../images/r&m.png") ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
    
}

h1{
    color: rgba(255, 255, 255,1);
    margin-top: 4vh;
    margin-left: 4vw;
    margin-bottom: 3vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.1), 2px 2px 0 #c9c9c9, 3px 3px 0 #bbb, 4px 4px 0 #b9b9b9, 5px 5px 0 #aaa, 6px 6px 0 #999, 7px 7px 6px rgba(0,0,0,0.1);
    transform: skewY(-10deg);
  animation: curve 2s ease-in-out infinite alternate;
}

@keyframes curve {
    from {
      transform: skewY(-10deg);
    }
    to {
      transform: skewY(10deg);
    }
  }

.featured-characters-div{
    margin-top: 5vh;

    width: 20%;
}

.featured-characters-div ul {
   margin: 0 15vw;
   
}

.featured-characters-div ul a{
    width: 50%;
}

.featured-characters-list img {
    width: 50vw;
    height: 25vh;
    margin-bottom: 2vh;
    border-radius: 20px;
}

.list-group a{
    display: flex;
    margin: 2vh;
    border-radius: 25px;
    
}

.featured-characters-list li {
    display: flex;
    flex-direction: column;
    padding: 7px;
    margin-left: 6vw;
    box-sizing: border-box;
    font-size: 1.4em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

.h2-home{
margin-left: 4vw;
margin-top: 3vh;
text-decoration: underline;  
text-decoration-thickness: 1px;
font-size: 1.9em;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(255, 255, 255);
}

.about-home{
    background-color: rgba(255, 255, 255,0.5);
    margin-top: 3vh;
    border-radius: 20px;
    width: 90%;
    margin-left: 5vw;
}

.about-home p{
    font-size: 1.2em;
    width: 80%;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    box-sizing: border-box;
    margin-bottom: 2vh;
}

.back-top-btn{
    border-radius: 15px;
    border: 0;
    background-color: #8842b9;
    margin-bottom: 3vh;
    width: 40vw;
    padding: 3vw;
    box-sizing: border-box;
}

.back-top-btn a{
    color: white;
    text-decoration: none;
}

.back-top-btn a:visited{
    color: white;
    }

.list-group-item-home{
    width: 100vw;
}
    
@media (min-width: 601px) and (max-width: 992px) {

.featured-characters-div img{
   border-radius: 25px;
   height: 33vh;
   padding: 0;
}

    }