body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

.home-page{
    background-image: url("../../images/r&m.png") ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
    
}

h1{
    color: rgba(255, 255, 255,1);
    margin-top: 4vh;
    margin-left: 4vw;
    margin-bottom: 3vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.1), 2px 2px 0 #c9c9c9, 3px 3px 0 #bbb, 4px 4px 0 #b9b9b9, 5px 5px 0 #aaa, 6px 6px 0 #999, 7px 7px 6px rgba(0,0,0,0.1);
    transform: skewY(-10deg);
  animation: curve 2s ease-in-out infinite alternate;
}

@keyframes curve {
    from {
      transform: skewY(-10deg);
    }
    to {
      transform: skewY(10deg);
    }
  }

.featured-characters-div{
    margin-top: 5vh;

    width: 20%;
}

.featured-characters-div ul {
   margin: 0 15vw;
   
}

.featured-characters-div ul a{
    width: 50%;
}

.featured-characters-list img {
    width: 50vw;
    height: 25vh;
    margin-bottom: 2vh;
    border-radius: 20px;
}

.list-group a{
    display: flex;
    margin: 2vh;
    border-radius: 25px;
    
}

.featured-characters-list li {
    display: flex;
    flex-direction: column;
    padding: 7px;
    margin-left: 6vw;
    box-sizing: border-box;
    font-size: 1.4em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

.h2-home{
margin-left: 4vw;
margin-top: 3vh;
text-decoration: underline;  
text-decoration-thickness: 1px;
font-size: 1.9em;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(255, 255, 255);
}

.about-home{
    background-color: rgba(255, 255, 255,0.5);
    margin-top: 3vh;
    border-radius: 20px;
    width: 90%;
    margin-left: 5vw;
}

.about-home p{
    font-size: 1.2em;
    width: 80%;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    box-sizing: border-box;
    margin-bottom: 2vh;
}

.back-top-btn{
    border-radius: 15px;
    border: 0;
    background-color: #8842b9;
    margin-bottom: 3vh;
    width: 40vw;
    padding: 3vw;
    box-sizing: border-box;
}

.back-top-btn a{
    color: white;
    text-decoration: none;
}

.back-top-btn a:visited{
    color: white;
    }

.list-group-item-home{
    width: 100vw;
}
    
@media (min-width: 601px) and (max-width: 992px) {

.featured-characters-div img{
   border-radius: 25px;
   height: 33vh;
   padding: 0;
   width: 29vw;
   margin-top: 4px;
}

    }


    @media (min-width: 993px) {
        .featured-characters-div{
            width: 95%;
            display: flex;
            margin-left: 0;
           }
            .featured-characters-div ul{
            display: flex;
            width: 100%;    
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 7vw;
            margin-right: 0;
           }
        
        
           .featured-characters-div ul li {
            display: flex;
            flex-direction: column;
            width: fit-content;
            height: 90%;
            padding: 0;
            box-sizing: border-box;
            margin-left: 2vw;
            margin-bottom: 2vh;
            margin-top: 3vh;
            background-color: rgba(201, 117, 219, 0.68);
            color: azure;
            font-family: 'Courier New', Courier, monospace;
            font-size: 1.5em;
            border: 1px solid azure;
            transition: transform 0.5s ease-out, background-color 0.5s ease-out, box-shadow 0.5s ease-out, transform 0.5s ease-out, background-image 0.5s ease-out, left 0.5s ease-out, bottom 0.5s ease-out;
          }
          
          .featured-characters-div ul li:hover {
            transform: scale(1.1) rotate(15deg);
            background-color: #45e72c;
            box-shadow: 10px 10px 15px #000000c5;
            background-image: linear-gradient(to bottom, #1cdc2675, #e128b0bd);
            position: relative;
            left: 10px;
            bottom: 3vh;
          }

           .featured-characters-div ul li:hover::before{
            content: "Show information";
            font-size: 1em;
           }

           .featured-characters-div ul a{
            margin: 0;
            width: fit-content;
            display: flex;
           }
          
           .h2-home{
            text-decoration: none;
            font-family: 'Courier New', Courier, monospace;
            font-size: 2.8em;
            margin-bottom: 4vh;
            margin-top: 8vh;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.966);
           }
           .about-home{
           background-color: rgba(201, 117, 219, 0.68);
           width: 48%;
           margin: 0 auto;
           }
           .about-home p{
            font-family: 'Courier New', Courier, monospace;
            font-size: 1.6em;
            color: azure;
            width: 60%;
            margin: 0 auto;
            padding: 3vh;
           }
           .back-top-btn{
            margin-top: 3vh;
            width: 15vw;
            height: 8vh;
            padding:10px;
            box-sizing: border-box;
            border: 1px solid rgb(0, 0, 0);
            background-color: rgba(201, 117, 219, 0.68);
            font-size: 1.5em;
            font-family: 'Courier New', Courier, monospace;
           }
           .featured-characters-div img{
            border-radius: 25px;
            height: 32vh;
            width: 13vw;
            margin-top: 4px;
            padding: 0;
         }
           
      }