body, html {
    height: 100%;
  }
  
  .c-list{
    width: fit-content;
    max-height: 70vh;
    overflow: auto;
    margin-left: 15vw;
    margin-top: 5vh;
  }
  
  .list-group-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin-left: 2vw;
  }
  
  .list-group-item img{
    width: 30vw;
  }

#list-h2 {
    color: #FFFFFF;
    margin-left: 15vw;
    font-size:x-large;
}
  
  
  #pages{
    color: white;
    margin-left: 48vw;
  }
  
  .btn-home{
   width: 13vw;
   font-size: 0.8em;
   margin-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .characters-container {
    min-height: 100vh;
    background-image: url('../../images/r&m.png');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 15vh;
    text-align: center;
  }
  
  
  
  .list-header{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-bottom:4vh;
    justify-content: flex-end;
    padding-top: 5vh;
  }
  
.search-input{
    width: 30vw;
    border-radius: 10px;
    margin-bottom: 1vh;
    margin-left: 3vw;
    border: 0;
}

.custom-select{
    width: 30vw;
    border-radius: 10px;
    margin-left: 3vw;
    border: 0;
}

.mr-sm-2{
color: #FFFFFF;
}

#search-label{
    color: white;
}