body, html {
    height: 100%;
    width: 100%;
  }
  
  .c-list{
    width: fit-content;
    max-height: 70vh;
    overflow: auto;  
    margin-left: 6vw;
    margin-top: 5vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
  }
  
 
  
  .char-pic{
    width: 40vw;
    margin-top: 5vh;
  }
.heart-picture{
  width: 3vw;
}
#list-h2 {
    color: #FFFFFF;
    margin-left: 8vw;
    font-size:1.2em;
    font-family: 'Courier New', Courier, monospace;
}
  
  
  #pages{
    color: white;
    margin-left: 48vw;
  }
  
  #btn-list-page{
   width: 20vw;
   font-size: 0.8em;
  border-radius: 20px;
   background-color: #5633e1;
   color: white;
   border: 1px solid black;
   font-family: 'Courier New', Courier, monospace;
  }
  
  
  .characters-container {
    min-height: 100vh;
    background-image: url('../../images/r&m.png');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 15vh;
    text-align: center;
    padding-left:7vw;
    box-sizing: border-box;
  }
  
  
  .list-header{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-bottom:4vh;
    justify-content: flex-end;
    padding-top: 5vh;
  }
  
.search-input{
    width: 30vw;
    border-radius: 10px;
    margin-bottom: 1vh;
    margin-left: 3vw;
    border: 1px solid black;
   
}

.custom-select{
    width: 30vw;
    border-radius: 10px;
    margin-left: 3vw;
    border: 1px solid black;
  
}

.mr-sm-2{
color: #FFFFFF;
}

#search-label{
    color: white;
}

.container-chars{
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  border-radius: 25px;
}


.list-group-item-home{
  margin-left:15vw;
}

.btn-danger{
  font-size: 0.6em;
  width: 40vw;
  margin-left: 2vw;
}
.char-content{
  width: 50vw;
  border-radius: 25px;
  margin-left: 5vw;
  margin-bottom: 1vh;
  font-size: 1em;
}

.favorite-storage{
  margin-left: 5vw;
}

.char-content li h4{
  font-size: 1.2em;
  margin-top: 2vh;
}

@media (min-width: 601px) and (max-width: 992px) {

  #btn-list-page{
    width: 12vw;
    font-size: 1.1em;
    margin-left: 15vw;
    border-radius: 20px;
    border: 1px solid azure;
    background-color: #5633e1;
    color: rgb(188, 242, 242);
   }

   .container-chars{
    width: fit-content;
    margin-left: -22vw;
   }
   .char-pic{
    width: 25vw;
    border-radius: 20px;
   }
   
   .char-content{
    margin-left: 38vw;
    
   }
   .list-group-item{
    padding-left: 21vw;
    box-sizing: border-box;
   }
   .favorite-storage button img{
    width: 4vw;
    border-radius: 25px;
   }
   .favorite-storage button{
    border-radius: 25px;
    border: 1px solid rgb(201, 38, 198);
    margin-left: -15vw;
   }
   .btn-danger{
    font-size: 1.2em;
    width: 20vw;
    margin-left: 8vw;
    border: 1px solid black;
   }
   .characters-info{
    margin-left: -15vw;
   }
}


@media (min-width: 993px) {

  #btn-list-page{
    width: 10vw;
    height: 6vh;
    font-size: 1.4em;
    margin-left: 3vw;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #5633e1;
    color: rgb(188, 242, 242);
   }

   
   .char-pic{
    width: 17vw;
    border-radius: 20px;
    margin-left: 0;
   }
   
   .char-content{
    width: fit-content;
    border-radius: 45px;
    margin-bottom: 1vh;
   }
   .char-content li{
    display: flex;
justify-content: center;
   }
   .list-group-item{
    padding-left: 18vw;
    
    box-sizing: border-box;
    
   }
   .favorite-storage button img{
    width: 3vw;
    border-radius: 25px;
    
   }
   .favorite-storage button{
    border-radius: 25px;
    border: 1px solid rgb(201, 38, 198);
    
   }
   .btn-danger{
    font-size: 1.2em;
    border: 1px solid black;
    width: fit-content;
   }

   .list-group-item{
    width: 40vw;
    
   }

   .characters-info{
    width: fit-content;
    margin-left: -10vw;
    
   }
   .container-chars{
    margin-left: 9vw;
   }
   #list-h2{
    margin-left: 16vw;
    font-size: 2.2em;
   }
   .list-inputs{
    width:fit-content ;
    margin-left: 30vw;
   }
   .list-inputs input{
    width: 15vw;
   }
   .list-inputs select{
    width: 15vw;
   }
   .favorite-session{
    width: fit-content;
    height: fit-content;
    margin-top: 20vh;
   }
   
}