#home-nav-bar{
    margin-top: 4vh;
}

.nav-list{
    list-style:inside;
    background-color: #8742b9a2;
    width: 80%;
    border-radius: 25px;
    margin-left: 10vw;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}

.nav-list li{
    margin-top: 1vh;
}

.nav-list li a{
    color: #ffff;
    font-size: 1.2em;
    text-decoration: none;
}


@media (min-width: 601px) and (max-width: 992px) {


.nav-list{
    background-color: #8742b9a2;
    width: 90%;
    border-radius: 10px;
    margin-left: 5vw;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 8vh;

}

.nav-list li {
    margin-left: 4vw;
    font-size: 1.2em;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
}


}