.footer-headers{
    font-weight: 400;
    color: white;
    font-size: 1em;
}

.main-footer {
    color: white;
    background: #000000;
    background: linear-gradient(to bottom, #000000 0%, #A00ACB 81%, #D547EE 100%);
    padding-top: 3em;
    position: relative;
    bottom: 0;
}

.col-sm {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 0.7em;
}

.col {
    font-size: 0.7em;
}


@media (min-width: 601px) and (max-width: 992px) {

    .footer-headers{
        font-family: 'Courier New', Courier, monospace;
        font-size: 2.2em;
        font-weight: 500;
       }

       .col a{
        font-size: 1.5em;
        color: rgb(175, 64, 64);
        font-family:'Courier New', Courier, monospace ;
       }

}


@media (min-width: 993px) {

    .footer-headers{
        font-family: 'Courier New', Courier, monospace;
        font-size: 2.2em;
        font-weight: 500;
       }

       .col a{
        font-size: 1.5em;
        color: azure;
        font-family:'Courier New', Courier, monospace ;
       }


}